html {
    scrollbar-width: thin;
    overflow-x: hidden;
}

body {
    margin: 0;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #2a2626;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #858585;
}

canvas {
    margin-left: auto;
    margin-right: auto;
}